
Application{ 
	/* font: Arial-PLAIN-10; */	
	radius: 5.7;
}


Button {
	contentMargins:5 5 5 5 ;
	background:#f6d8ae;
	font:Tahoma-PLAIN-11;
	textForeground:#203740; /* BLUE BLACK */

	[Default].alphaTransparency:0.5;
	[Default+Focused].alphaTransparency:0.5;
	[Default+MouseOver].alphaTransparency:0.1;
	[Default+Focused+MouseOver].alphaTransparency:0.1;
	[Default+Pressed].alphaTransparency:0.5;
	[Default+Focused+Pressed].alphaTransparency:0.5;
	
	[Enabled].border:#00000000; /* BLACK */
	[Enabled].alphaTransparency:0.5;
	
	[Disabled].textForeground:#304550; /* BLUE DARKEST */
	[Disabled].alphaTransparency:0.1;
	
	[Focused].alphaTransparency:0.3;
	[Focused+MouseOver].alphaTransparency:0.1;
	[Focused+Pressed].alphaTransparency:0.5;
	
	[MouseOver].textForeground:#FFFFFF; /* WHITE */
	[MouseOver].alphaTransparency:0.1;
	
	[Pressed].alphaTransparency:0.5;
	
	
}


CheckBox{
	contentMargins: 4 14 4 14;
	[Enabled].textForeground:#0A0A0A;
    [Disabled].textForeground:#0A0A0A;
    [Focused].textForeground:#0A0A0A;
    [Selected].textForeground:#0A0A0A;
}

CheckBoxMenuItem{
	[Enabled].textForeground:#FFFFFF;  /* WHITE */
	[Enabled].background:#FFFFFF01; /* WHITE */
	[Disabled].textForeground:#FFFFFF7D; /* WHITE */
	[Disabled].background:#FFFFFF01; /* WHITE */
	[Selected].textForeground:#FFFFFF; /* WHITE */
	[MouseOver].textForeground:#a77415; /* BLUE DARK */
	[MouseOver+Selected].textForeground:#a77415; /* BLUE DARK */
	[Selected].background:#FFFFFF01; /* WHITE */
	[MouseOver].background:#FFFFFF; /* WHITE */
	[MouseOver+Selected].background:#FFFFFF; /* WHITE */
}


CollapsiblePanel{	  
	foreground:#FFFFFF; /* WHITE */
	foregroundShadow:#c49153; /* BLUE MIDDARK */
	titleBackground:#c49153; /* BLUE MIDDARK */	
	background:#f1e8d6; /* BLUE ALMOST LIGHT */
	backgroundGradientInit:#f1e8d6; /* BLUE ALMOST LIGHT */
	backgroundGradientEnd:#dbbe96; /* BLUE MID */
	
}


"Column"{		
	background:#f1e8d680;  /* BLUE LIGHT + DD transp*/
	contentMargins:2 0 2 0;
	
}


"Row"{
	background:#f1e8d680;  /* BLUE LIGHT + DD transp*/
        contentMargins:2 0 2 0;        
}



ComboBox{

	font:Tahoma-PLAIN-11;

	[Enabled].textForeground:#0A0A0A; /* GREY ALMOST BLACK */
        [Enabled].background:#FFFFFF; /* WHITE */
        [Enabled].border:#f1e8d6; /* BLUE ALMOST LIGHT */
        
        [Disabled].textForeground:#203740; /* BLUE DARK */
        [Disabled].background:#6060601B; /* GREY DARK */
        [Disabled].border:#f6d8ae6D; /* BLUE MIDLIGHT */
        
        [Focused].textForeground:#FFFFFF; /* WHITE */
        
        [Selected].textForeground:#FFFFFF; /* WHITE */
        
        [Focused].background:#FFFFFF; /* WHITE */
        [Focused+MouseOver].background:#FFFFFF; /* WHITE */
        [Focused+Pressed].background:#FFFFFF; /* WHITE */
        [Focused].border:#d1a966FF #d1a966B3 #d1a96666 #d1a96619; /* ORANGE LIGHT */

        [MouseOver].background:#FFFFFF; /* WHITE */
        [Pressed].background:#FFFFFF; /* WHITE */

}



ComboBox:"ComboBox.textField"{
	
	font:Tahoma-PLAIN-11;
        
        [Enabled].textForeground:#606060; /* GREY DARK */
	[Enabled].background:#FFFFFF; /* WHITE */
	
        [Disabled].textForeground:#a77415; /* BLUE DARK */
	[Disabled].background:#FFFFFF7D; /* WHITE + 7D TRANSP */
        
        [Selected].textForeground:#FFFFFF; /* WHITE */
	[Selected].background:#FFFFFF; /* WHITE */
        
}


ComboBox:"ComboBox.arrowButton"{

	[Enabled].foreground:#FFFFFF; /* WHITE */
	[Enabled].background:#c49153; /* BLUE MIDDARK */

	[Disabled].foreground:#FFFFFF; /* WHITE */
	[Disabled].background:#c49153;  /* BLUE MIDDARK */


	[MouseOver].foreground:#000000;  /* BLACK */
	[MouseOver].background:#c49153;  /* BLUE MIDDARK */
 
	[Pressed].foreground:#000000;  /* BLACK */
	[Pressed].background:#c49153;  /* BLUE MIDDARK */

	[Selected].foreground:#000000;  /* BLACK */
	[Selected].background:#c49153;  /* BLUE MIDDARK */

	[Focused].background:#c49153;  /* BLUE MIDDARK */
	[Disabled+Editable].background:#c49153;  /* BLUE MIDDARK */
	[Editable+Enabled].background:#c49153;  /* BLUE MIDDARK */
	[Editable+MouseOver].background:#c49153;  /* BLUE MIDDARK */
	[Editable+Pressed].background:#c49153;  /* BLUE MIDDARK */
	[Editable+Focused].background:#c49153;  /* BLUE MIDDARK */
}



/* READY ??? */
/* STILL A BLACK TOOLBAR!!! */
Diagram{
	background:#FFFFFF; /* WHITE */
	border:#dbbe96; /* BLUE MID */
}

EditorPane{
	[Enabled].textForeground:#304550; /* BLUE DARKEST */
	[Disabled].textForeground:#FFFFFF; /* WHITE */
	[Focused].textForeground:#FFFFFF; /* WHITE */
	[Selected].textForeground:#FFFFFF; /* WHITE */
	[Enabled].background:#FFFFFF; /* WHITE */
	[Disabled].background:#f6d8ae6D; /* BLUE MIDLIGHT */
	[Selected].background:#FFFFFF; /* WHITE */
}	


Label{
		foreground:#0A0A0A; /* GREY ALMOST BLACK */
		disabledText:#0A0A0A; /* GREY ALMOST BLACK */
		
		[Enabled].textForeground:#0A0A0A; /* GREY ALMOST BLACK */
		[Disabled].textForeground:#0A0A0A; /* GREY ALMOST BLACK */
		[Focused].textForeground: "#0A0A0A"; /* GREY ALMOST BLACK */
		[Selected].textForeground": "#304550"; /* BLUE DARKEST */
}


"ELabel"{
	font:Tahoma-PLAIN-11;
	foreground: #0A0A0A; /* GREY ALMOST BLACK */
	[Enabled].textForeground:#0A0A0A; /* GREY ALMOST BLACK */
	[Disabled].textForeground:#0A0A0A; /* BLUE ALMOSTBLACK*/
	disabledText:#304550; /* BLUE DARKEST */ 
}

"FieldButton"{
/*		font:;*/
	textForeground:#304550; /* BLUE DARKEST */
	[Disabled].textForeground:#c49153; /* BLUE MIDDARK */		
	[Focused].background : #304550;
	[Focused].alphaTransparency : 0.25;
	[MouseOver].background : #304550;
	[MouseOver].alphaTransparency : 0.25;
	[Focused+MouseOver].background : #304550;
	[Focused+MouseOver].alphaTransparency : 0.25;
	
}


"FormBodyPanel"{
	bgpaint: linear-gradient(to bottom, #f6d8ae 0%, #f6d8ae88 100%);
	contentMargins:0 0 0 0;
}


"FormButton"{
	textForeground:#304550; /* BLUE DARKEST */
	[Disabled].textForeground:#c49153; /* BLUE MIDDARK */
		
	[Focused].background:#304550; /* BLUE DARKEST */
	[Focused].alphaTransparency:0.5;
	
}

"FormButtonPanel"{
	topBackgroundColor:#f6d8ae; /* BLUE MIDLIGHT */	
	bottomBackgroundColor:#a77415; /* BLUE MIDDARK */
}

"FormHeaderButton"{
	textForeground:#304550; /* BLUE DARKEST */
	/*[Disabled].textForeground:#304550; /* BLUE DARKEST */
	[Disabled].textForeground:#FFFFFF; /* BLUE DARKEST */
	[Enabled].textForeground:#FFFFFF; /* BLUE DARKEST */
		
	[Focused].background:#304550; /* ORANGE COLD LIGHT */
	[Focused].alphaTransparency:0.5;
}

"FormTitle"{
	/*background: #d1e1e8; /* ORANGE COLD LIGHT*/
	background: #f5f0da ; /* BLUE LIGHT*/
	
	shadow:#f5f0da; /* BLUE LIGHT */ 
	textForeground:#304550; /* BLUE DARKEST */
	/*textForegroundShadow:#2898ca; /* ORANGE DARKEST */
	textForegroundShadow:#FFFFFF; /* WHITE */
}

"Grid"{
	background:#f5f0da;  /* BLUE LIGHT */
	contentMargins:0 0 0 0;
	opaque:false;
}

List{
		contentMargins:0 0 0 0;
		font:Tahoma-PLAIN-11;
		background:#FFFFFF; /* WHITE */
		textForeground:#000000; /* BLACK */
		[Selected].textForeground:#FFFFFF; /* WHITE */
		[Selected].textBackground:#c49153; /* BLUE MIDDARK */
/*		[Disabled].textForeground:;*/
/*		[Disabled].background:;*/
}

List:\"List.cellRenderer\"{
	contentMargins:2 60 2 60;
	[Disabled].textForeground:#c49153; /* BLUE MIDDARK */
	[Disabled].background:#f6d8ae; /* BLUE MIDLIGHT */
}

MenuBar{
	contentMargins:0 0 0 0;
	[Enabled].background:#203740; /* BLUE BLACK*/
	[Enabled].border:#203740; /* BLUE BLACK */
}

MenuBar:Menu{
	contentMargins:3 15 0 15;
	
	[Enabled].textForeground:#fcf9f2; /* BLUE LIGHTER */

	[Disabled].textForeground:#fcf9f27D; /* BLUE LIGHTER + 50% TRANSP */

	[Selected].textForeground:#304550; /* BLUE DARKEST */
	[Selected].background:#dbbe96; /* BLUE MID */
	[Selected].border:#dbbe96; /* BLUE MIDLIGHT */
}

MenuItem{
        [Enabled].textForeground:#FFFFFF; /* WHITE */
	[Enabled].background:#FFFFFF01; /* WHITE */
        
        [Disabled].textForeground:#FFFFFF7F; /* WHITE */
	[Disabled].background:#FFFFFF01; /* WHITE */
        
	[MouseOver].textForeground:#a77415; /* BLUE DARK */
	[MouseOver].background:#FFFFFF; /* WHITE */
}

MenuItem:MenuItemAccelerator{
        [Enabled].textForeground:#FFFFFF7F; /* WHITE */
	[Disabled].textForeground:#FFFFFF7F; /* WHITE */
	[MouseOver].textForeground:#a77415; /* BLUE DARK */
}

Menu{

	[Enabled].textForeground:#FFFFFF; /* WHITE */
	[Enabled].arrowBackground:#FFFFFF7D; /* WHITE */
	
	[Enabled+Selected].textForeground:#a77415; /* BLUE DARK */
	[Enabled+Selected].background:#dbbe96; /* BLUE MID */
	[Enabled+Selected].border:#dbbe96; /* BLUE MIDLIGHT */
	[Enabled+Selected].arrowBackground:#0000004C; /* BLACK */
	
	[Disabled].textForeground:#FFFFFF7D; /* WHITE */
	[Disabled].arrowBackground:#0000007D;  /* BLACK */

}

OptionPane{
	background:#f5f0da; /* BLUE LIGHT */
	buttonMinimumWidth:90;
	messageForeground:#0A0A0A;
}

Panel{
	background:#f5f0da; /* BLUE LIGHT */
}

"PopupItem"{
	[Enabled].textForeground:#FFFFFF; /* WHITE */
	[Enabled].background:#FFFFFF01; /* WHITE */
	
	[Disabled].textForeground:#FFFFFF7F; /* WHITE */
	[Disabled].background:#FFFFFF01; /* WHITE */

	[MouseOver].textForeground:#a77415; /* BLUE DARK */
	[MouseOver].background:#FFFFFF; /* WHITE */
}

PopupMenu{
	/*
		[Disabled].background:#8cbec6;
		[Enabled].background:#86adbf;
		[Disabled].border:#c6dfe3;
		[Enabled].border:#c6dfe3;
	*/
		[Disabled].background:#dbbe96; /* BLUE MID */
		[Disabled].border:#dbbe96; /* BLUE MID */
		
		[Enabled].background:#dbbe96; /* BLUE MID */
		[Enabled].border:#dbbe96; /* BLUE MID */

}

RadioButton{
	contentMargins: 4 14 4 14;
	
/*		[Disabled].icon:;*/
/*		[Enabled].icon:;*/
/*		[Focused].icon:;*/
/*		[MouseOver].icon:;*/
/*		[Focused+MouseOver].icon:;*/
/*		[Pressed].icon:;*/
/*		[Focused+Pressed].icon:;*/
/*		[Selected].icon:;*/
/*		[Focused+Selected].icon:;*/
/*		[Pressed+Selected].icon:;*/
/*		[Focused+Pressed+Selected].icon:;*/
/*		[MouseOver+Selected].icon:;*/
/*		[Focused+MouseOver+Selected].icon:;*/
/*		[Disabled+Selected].icon:;*/
/*		contentMargins:;*/
		[Enabled].textForeground:#0A0A0A;
    [Disabled].textForeground:#0A0A0A7D;
    [Focused].textForeground:#0A0A0A;
    [Selected].textForeground:#0A0A0A;
}

RadioButtonMenuItem{
		[Enabled].textForeground:#FFFFFF; /* WHITE */
		[Disabled].textForeground:#FFFFFF7D; /* WHITE */
		[Selected].textForeground:#FFFFFF; /* WHITE */
		[MouseOver].textForeground:#a77415; /* BLUE DARK */
		[MouseOver+Selected].textForeground:#a77415; /* BLUE DARK */ 
		[Enabled].background:#FFFFFF01; /* WHITE */
		[Disabled].background:#FFFFFF01; /* WHITE */
		[Selected].background:#FFFFFF01; /* WHITE */
		[MouseOver].background:#FFFFFF; /* WHITE */
		[MouseOver+Selected].background:#FFFFFF; /* WHITE */
/*		contentMargins:;*/
/*		[Disabled].icon:;*/
/*		[Enabled].icon:;*/
/*		[Focused].icon:;*/
/*		[MouseOver].icon:;*/
/*		[Focused+MouseOver].icon:;*/
/*		[Pressed].icon:;*/
/*		[Focused+Pressed].icon:;*/
/*		[Selected].icon:;*/
/*		[Focused+Selected].icon:;*/
/*		[Pressed+Selected].icon:;*/
/*		[Focused+Pressed+Selected].icon:;*/
/*		[MouseOver+Selected].icon:;*/
/*		[Focused+MouseOver+Selected].icon:;*/
/*		[Disabled+Selected].icon:;*/
}



ScrollBar{

	contentMargins:6 6 6 6;	
	thumbHeight:12;
	[Enabled].border:#f5f0da ; /* BLUE LIGHT*/
	[Disabled].border:#f5f0da ; /* BLUE LIGHT  */
}


ScrollBar:"ScrollBar.button"{

	size:25;
		
	[Enabled].background:#c49153; /* BLUE MIDDARK */  
	[Enabled].arrowBackground:#FFFFFF; /* WHITE */

	[Disabled].background:#f5f0da;  /* BLUE LIGHT */
	[Disabled].arrowBackground:#FFFFFF; /* WHITE */

	[MouseOver].background:#BDBDBD; /* GREY MIDLIGHT */
	[MouseOver].arrowBackground:#FFFFFF; /* WHITE */

	[Pressed].background:#9D9D9D; /* GREY MIDDARK */
	[Pressed].arrowBackground:#FFFFFF; /* WHITE */
}


ScrollBar:ScrollBarThumb{

	[Enabled].background:#c49153;  /* BLUE MIDDARK */
	[Enabled].backgroundShadow:#FFFFFF25;	 /* WHITE */
	[Enabled].border:#c49153; /* BLUE MIDDARK */

	[MouseOver].background:#c49153; /* BLUE MIDDARK */
	[MouseOver].backgroundShadow:#FFFFFF25; /* WHITE */
	[MouseOver].border:#c49153; /* BLUE MIDDARK */

	[Pressed].background:#c49153; /* BLUE MIDDARK */
	[Pressed].backgroundShadow:#FFFFFF25; /* WHITE */
	[Pressed].border:#c49153; /* BLUE MIDDARK */
}


ScrollBar:ScrollBarTrack{
	[Enabled].background:#E6E6E6; /* GREY LIGHT */
	[Disabled].background:#f5f0da ; /* BLUE LIGHT */	
}


ScrollPane {
	opaque:false;
}

"SelectableItem"{
	foreground:#0A0A0A;
	textForeground:#0A0A0A;
	[Enabled].textForeground:#0A0A0A;
	[Disabled].textForeground:#0A0A0A;	
	[Selected].textForeground:#0A0A0A;
	[Focused].textForeground:#0A0A0A;
}

SplitPane{
	contentMargins:0 0 0 0;
	size:12;
	dividerSize:12;
}

SplitPane:SplitPaneDivider{
	contentMargins:0 0 0 0;
	
	[Enabled].foreground:#dbbe96; /* BLUE  MID */
	[Enabled].foregroundBorder:#d1e1e8; /* ORANGE COLD LIGHT */
	
	[Enabled].background:#E6E6E6 ; /* GREY LIGHT */

	[Enabled+Vertical].foreground:#dbbe96; /* BLUE MID */
	[Enabled+Vertical].foregroundBorder:#d1e1e8; /* ORANGE COLD LIGHT */			

	[Focused].background:#E6E6E6; /* GREY  LIGHT */
}

	


TabbedPane{
	contentMargins: 5 10 5 10;
	opaque:false;
	background:#A0A0A0; /* GREY MID */
	[Enabled].border:#005480; /* ORANGE BLACKER*/
	[Disabled].border:#000000; /* BLACK*/
}


TabbedPane:TabbedPaneContent{
	contentMargins: 4 2 2 2;
	[Enabled].background:#F5F5F5; /* GREY ALMOST WHITE */
	[Disabled].background:#a77415; /* BLUE DARK */
}


TabbedPane:TabbedPaneTab{

	contentMargins:2 2 2 2;		
	font:Tahoma-BOLD-11;

	/* text foreground */
	[Enabled].textForeground:#000000; /* BLACK */
	[Enabled].background:#F5F5F5; /* GREY ALMOST WHITE */
	[Enabled+Pressed].background:#44adcb; /* ORANGE DARK */
	[Enabled+MouseOver].background:#c49153; /* BLUE MIDDARK */

	[Disabled].textForeground:#304550; /* BLUE DARKEST */
	[Disabled].background:#E6E6E6; /* GREY LIGHT */
	[Disabled+Selected].background:#c49153; /* BLUE MIDDARK */

	[Selected].textForeground:#000000; /* BLACK */
	[Selected].background:#f6d8ae; /* BLUE MIDLIGHT*/
	[MouseOver+Selected].background:#c49153; /* BLUE MIDDARK */
	[Pressed+Selected].background:#c49153; /* BLUE MIDDARK */

	[Focused].textForeground:#FFFFFF; /* WHITE */
	[Focused+Selected].background:#c49153; /* BLUE MIDDARK */
	[Focused+MouseOver+Selected].background:#c49153; /* BLUE MIDDARK */ 
	[Focused+Pressed+Selected].background:#c49153; /* BLUE MIDDARK */	
}


TabbedPane:TabbedPaneTabArea:"TabbedPaneTabArea.button"{
	contentMargins:1 1 1 1;
	[Enabled].foreground: #BDBDBD; /* GREY MIDLIGHT */
	[Disabled].foreground: #f1e8d6; /* BLUE ALMOST-LIGHT */
	[Pressed].foreground: #A0A0A0; /* GREY MID */
	[MouseOver].foreground: #FFFFFF; /* WHITE */
}



FormTabbedPane{
	background:#A0A0A0; /* GREY MID */
	[Enabled].border:#005480; /* ORANGE BLACKER*/
	[Disabled].border:#000000; /* BLACK*/
}


FormTabbedPane:TabbedPaneContent{
	contentMargins: 1 1 1 1;
	[Enabled].background:#F5F5F5; /* GREY ALMOST WHITE */
	[Disabled].background:#a77415; /* BLUE DARK */
}

FormTabbedPane:TabbedPaneTab{
	contentMargins: 1 1 1 1;		
	font:Tahoma-BOLD-11;

	[Enabled].textForeground:#000000; /* BLACK */
	[Enabled].background:#F5F5F5; /* GREY ALMOST WHITE */
	[Enabled+Pressed].background:#44adcb; /* ORANGE DARK */
	[Enabled+MouseOver].background:#c49153; /* BLUE MIDDARK */

	[Disabled].textForeground:#304550; /* BLUE DARKEST */
	[Disabled].background:#E6E6E6; /* GREY LIGHT */
	[Disabled+Selected].background:#c49153; /* BLUE MIDDARK */

	[Selected].textForeground:#000000; /* BLACK */
	[Selected].background:#f6d8ae; /* BLUE MIDLIGHT*/
	[MouseOver+Selected].background:#c49153; /* BLUE MIDDARK */
	[Pressed+Selected].background:#c49153; /* BLUE MIDDARK */

	[Focused].textForeground:#FFFFFF; /* WHITE */
	[Focused+Selected].background:#c49153; /* BLUE MIDDARK */
	[Focused+MouseOver+Selected].background:#c49153; /* BLUE MIDDARK */ 
	[Focused+Pressed+Selected].background:#c49153; /* BLUE MIDDARK */	
}

FormTabbedPane:TabbedPaneTab:"TabbedPaneTab.label"{
	foreground : #000000;
	textForeground : #000000;
	[Enabled].textForeground : #000000;
	[Disabled].textForeground : #304550;
	[Selected].textForeground : #000000;
	[Focused].textForeground : #FFFFFF;
}

FormTabbedPane:TabbedPaneTabArea{
	contentMargins: 0 0 0 0;
	[Enabled].background:#F5F5F522;
	[Disabled].background:#a7741533;
}

FormTabbedPane:TabbedPaneTabArea:"TabbedPaneTabArea.button"{
	contentMargins:1 1 1 1;
	[Enabled].foreground: #BDBDBD; /* GREY MIDLIGHT */
	[Disabled].foreground: #f1e8d6; /* BLUE ALMOST-LIGHT */
	[Pressed].foreground: #A0A0A0; /* GREY MID */
	[MouseOver].foreground: #FFFFFF; /* WHITE */
}



Table{
	background:#F5F5F5 ;  /* GREY ALMOST LIGHT */
	foreground:#304550;
	textForeground:#304550;
	border:#dbbe96 ; /* BLUE MID */
	useOddEvenAlternateRowColor:true;
	alternateOddRowColor:#fcf9f2;/*#F3F9FB;*/
	alternateEvenRowColor:#f5f0da;/*#EEF0F5;*/
	
	selectionBackground:#f6d8ae;
	selectionForeground:#203740;
	[Enabled+Selected].textForeground:#203740;
	[Enabled+Selected].textBackground:#f6d8ae;
}

Table:"Table.cellEditor"{
       foreground:#2E8ECB; /* BLUE DARKEST */
       [Enabled].textForeground:#2E8ECB; /* PURE LIGHT */
       [Selected].textForeground:#FFFFFF; /* WHITE */
       [Enabled].background:#FFFFFF; /* WHITE */
       border:#2E8ECB; /* BLUE PURE */
}
    
    

Table:"Table.cellRenderer"{

	foreground:#304550; /* BLUE DARKEST */
	evenRowBackground:#f5f0da;  /* BLUE LIGHT */
	oddRowBackground:#fcf9f2; /* BLUE LIGHTER */
	
	[Editable].foreground:#304550;  /* GREY DARKER */
        [Editable].evenEditableBackground:#f1e8d6; /* BLUE ALMOST-LIGHT */
	[Editable].oddEditableBackground:#f1e8d67D; /* BLUE ALMOST-LIGHT */  

	[Selected].foreground:#203740; /* BLUE BLACK*/
        /*[Selected].background:#dbbe96; /* BLUE MID */
        [Selected].background:#f6d8ae; /* BLUE MIDLIGHT */
        [Selected+Editable].background:#dbbe96; /* BLUE MID */
        /*[Selected].border:#2E8ECB; /* BLUE PURE */
        [Selected].border:#80ccee; /* ORANGE LIGHT */
        
}
        

Table:"Table.rowHeadCellRenderer"{
	font:Tahoma-PLAIN-11;
	foreground:#304550; /* BLUE DARKEST */
        [Enabled].background:#f1e8d6; /* BLUE ALMOST LIGHT */
        border:#FFFFFF; /* WHITE */
}
    
Table:"Table.sumCellRenderer"{
        foreground:#FFFFFF; /* WHITE */
        [Enabled].background:#a77415; /* BLUE DARK */
        [Disabled].background:#f5f0da ; /* BLUE LIGHT */
}


Table:"Table.QuickFilter"{

	[Enabled].textForeground:#304550; /* BLUE DARKEST */
        [Enabled].background:#FFFFFF; /* WHITE */
        [Enabled].border:#f5f0da ; /* BLUE LIGHT */

	[Disabled].textForeground:#c49153; /* BLUE MIDDARK */
	[Disabled].background:#FFFFFF; /* WHITE   */
        [Disabled].border:#f1e8d66D; /* BLUE ALMOST-LIGHT  */

	[Focused].textForeground:#FFFFFF; /* WHITE */
        [Focused].background:#FFFFFF; /* WHITE */
        [Focused].border:#80cceeFF #80cceeB3 #80ccee66 #80ccee19; /* ORANGE LIGHT */

	[Selected].textForeground:#FFFFFF; /* WHITE */

	[Required].background:#FFFFFF; /* WHITE */
        
        icon:com/ontimize/plaf/images/queryfilter.png;
}

"TableButton"{
	contentMargins: 5 5 5 5;
	textForeground:#304550; /* BLUE DARKEST */
	[Disabled].textForeground:#c49153; /* BLUE MIDDARK */
		
	[Focused].background:#304550; /* BLUE DARKEST */
	[Focused].alphaTransparency:0.5;
}

"TableButtonPanel"{
	topBackgroundColor:#f5f0da00; /* BLUE LIGHT */
	bottomBackgroundColor:#dbbe9600; /* BLUE MID */
	opaque: false;	
}

TableHeader{
	foregroundFilter: #2898ca; /* ORANGE darkest */
	ascendingSortIconBackground:#97B067; /* GREENISH */
	descendingSortIconBackground:#A05C30; /* REDDISH */

}


TableHeader:"TableHeader.renderer"{
	contentMargins:2 5 2 5;
	opaque:false;
	textForeground:#000000; /* WHITE */
	
	/*backgroundDegraded:#304550 #dbbe96; /*top bottom*/ /* BLUE DARKEST -- BLUE MID */
	/*backgroundDegraded: #f6d8ae #a77415; /*top bottom*/ /* BLUE MIDLIGHT -- BLUE DARK */
	backgroundDegraded: #f6d8ae #f5f0da ; /*top bottom*/ /* BLUE LIGHT -- BLUE MIDLIGHT */
	outsideRightBorder:#f6d8ae; /* BLUE MIDLIGHT */
	insideRightBorder:#f5f0da ; /* BLUE LIGHT */
	bottomBorder:#f6d8ae; /* BLUE MIDLIGHT */
	
}


TableHeader:"VisualCalendar:TableHeader.renderer"{
	[Enabled].textForeground:#FFFFFF; /* WHITE */
	foregroundShadow:#00000033; /* BLACK */	
	topBorder:#f6d8ae; /* BLUE MID-LIGHT */
	bottomBorder:#dbbe96; /* BLUE MID */
}

TextArea{
	[Enabled].textForeground:#203740; /* BLUE BLACK */
	[Enabled].background:#FFFFFF; /* WHITE */
	/*[Enabled].border:#f1e8d6; /* BLUE ALMOST LIGHT */
	[Enabled].border:#dbbe96; /* BLUE MID*/

	[Disabled].textForeground:#FFFFFF; /* WHITE */
	[Disabled].background:#FFFFFF6D; /* WHITE */
	[Disabled].border:#f1e8d66D; /* BLUE ALMOST LIGHT 6D% TRANSP */

	[Focused].textForeground:#FFFFFF; /* WHITE */
	[Focused].background:#FFFFFF; /* WHITE */
/*	[Focused].border:#B0D0E0FF #B0D0E0B3 #B0D0E066 #B0D0E019; /* BLUE PURE LIGHT */
        [Focused].border:#80cceeFF #80cceeB3 #80ccee66 #80ccee19; /* ORANGE LIGHT */
	
	/*[Selected].textForeground:#FFFFFF; /* WHITE */
	[Selected].textForeground:#000000; /* WHITE */
		
}
    
 TextArea{
		[Enabled].textForeground:#0A0A0A;
		[Disabled].textForeground:#203740;
		[Focused].textForeground:#FFFFFF;
		[Selected].textForeground:#FFFFFF;
		[Enabled].background:#FFFFFF;
		[Disabled].background:#6060601B;
		[Focused].background:#FFFFFF;
		[Enabled].border:#f1e8d6;
		[Disabled].border:#f6d8ae6D;
		[Focused].border:#d1a966FF #d1a966B3 #d1a96666 #d1a96619;
}   

    

TextField{
	font:Tahoma-PLAIN-11;
		
	[Enabled].textForeground:#0A0A0A; /* GREY ALMOST BLACK */
	[Enabled].background:#FFFFFF; /* WHITE */
	[Enabled].border:#f1e8d6; /* BLUE ALMOST LIGHT */
        
	[Disabled].textForeground:#203740; /* BLUE BLACK */
	[Disabled].background:#6060601B; /* GREY DARK */
	[Disabled].border:#f6d8ae6D; /* BLUE MIDLIGHT */
        
	[Focused].textForeground:#FFFFFF; /* WHITE */
	[Focused].background:#FFFFFF; /* WHITE */
    [Focused].border:#d1a966FF #d1a966B3 #d1a96666 #d1a96619; /* ORANGE LIGHT */

	/*[Focused].innerShadow:#CACACA;*/

	[Selected].textForeground:#FFFFFF; /* WHITE */
                
	[Required].textForeground:#203740; /* BLUE BLACK */
	[Required].background:#f5edd4; /* ORANGE COLD*/
	
	
}



TitledBorder{
	contentMargins: 2 2 2 2;
	radius: 8;
	titleSize: 10;
}

ToggleButton{
	contentMargins:7 7 7 7;
	textForeground:#304550; /* BLUE DARKEST */
	[Disabled].textForeground:#a77415; /* BLUE DARK */

	[Selected].alphaTransparency:0.3;
	[Disabled+Selected].alphaTransparency:0.5;
	[Focused+Selected].alphaTransparency:0.3;
	[MouseOver+Selected].alphaTransparency:0.5;
	[Focused+MouseOver+Selected].alphaTransparency:0.5;
	[Pressed+Selected].alphaTransparency:0.5;
	[Focused+Pressed+Selected].alphaTransparency:0.5;
	
	[Disabled].alphaTransparency:0.5;
	[Enabled].alphaTransparency:0.3;
	[Focused].alphaTransparency:0.3;
	[MouseOver].alphaTransparency:0.5;
	[Focused+MouseOver].alphaTransparency:0.5;
	[Pressed].alphaTransparency:0.5;
	[Focused+Pressed].alphaTransparency:0.5;
	 
}

ToolBar{
	contentMargins:0 0 0 0;
	opaque:true;
	useTextureImage:true;
	backgroundImage: com/ontimize/plaf/images/toolbarbackground.png;
	foreground:#FFFFFF; /* WHITE */
}

ToolBar:Button{
	contentMargins:0 6 0 6;
	textForeground:#FFFFFF; /* WHITE */
	[Enabled].alphaTransparency:0;
	
}

ToolBarSeparator{
	[Enabled].background:#FFFFFF4C; /* WHITE */
	contentMargins:0 0 0 0;
	   
}

ToolTip{
	textForeground:#FFFFFF; /* WHITE */
	background:#c49153; /* BLUE MIDDARK */
	border:#f1e8d6; /* BLUE ALMOST LIGHT */	
}

Tree{
	lineColor: #f1e8d6; /* BLUE ALMOST LIGHT */
	lineSelectionColor: #a77415; /* BLUE DARK */

	textForeground: #a77415; /* BLUE MID */
	
	selectionForeground: #f5f0da ; /* BLUE LIGHT */
	selectionBackground: #c49153; /* BLUE MID DARK*/
	
	expandedIcon: com/ontimize/plaf/images/11x11_tree_open.png;
	collapsedIcon: com/ontimize/plaf/images/11x11_tree_close.png;	
}

Tree:"Tree.cellRenderer"{
	textForeground: #a77415; /* BLUE DARK */
	rootForeground: #a77415; /* BLUE DARK */
	rootSelectionForeground: #c49153;  /* BLUE MIDDARK */
	background: #f5f0da; /* BLUE LIGHT */
	
	backgroundSelectionParent: #f1e8d6; /* BLUE ALMOST-LIGHT */
	backgroundSelection: #c49153; /* BLUE MIDDARK */

	topBackgroundSelection: #dbbe96; /* BLUE MIDDARK */
	bottomBackgroundSelection: #c49153; /* BLUE MIDDARK */

	foregroundSelectionChildCount: #a77415; /* BLUE DARK */
	backgroundSelectionCount: #f5f0da; /* BLUE LIGHT */
	
	foregroundChildCount: #f5f0da; /* BLUE LIGHT */
	backgroundChildCount: #304550; /* BLUE DARKEST */
}




